@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

html * {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}


code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

body, div {
  background-color: #fafafa;
  overflow-x: hidden;
}



img{
  max-width:60vw;
}

#mainpage, div {
  position: absolute;
  width: 97vw - 120px;
  height: 100vh; 
  overflow: hidden;
  background-color: #fafafa;
  transition: transform 1s ease;
  margin-bottom: 30px;
  margin-left: 0px;
  padding: 60px;
}

div:not(#mainpage){
  transform: translateX(200vw);
}
h2:hover,
td:hover {
  cursor: pointer;
}

h2 {
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
}

h3, h4, h5 {
  font-weight: 1000;
}

h5 {
  font-family: 'Fira Code', monospace;
  font-size: 1em;
}

table {
 background-color: #fafafa;
 border: 1px solid #dde7ea;
 border-radius: 5px;
 border-collapse: collapse;
 max-width: 80vw;
}

p, li {
  width: 60vw
}
td {
  border: 1px solid #dde7ea;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 25vw;
  min-width: 17vw;
}
tr {
  border: 1px solid #dde7ea;
}
tr:nth-child(even){
  background-color: #edf2f4;
}
#tallteori {
  margin-right: 300px;
}